@font-face {
   font-family: GillSansBold;
   src: url(fonts/GillSans-Bold.ttf);
}

@font-face {
   font-family: GillSansSemiBold;
   src: url(fonts/GillSans-SemiBold.ttf);
}

@font-face {
  font-family: OpenSansBold;
  src: url(fonts/OpenSans-Bold.ttf);
}

@font-face {
   font-family: OpenSans;
   src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: RobotoCondensed;
  src: url(fonts/RobotoCondensed-VariableFont_wght.ttf);
}




body {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    overflow: hidden;
    position: relative; /* Ensure relative positioning for absolute child elements */
}

/* Disable scrollbar styling */
#text-container::-webkit-scrollbar,
#text-container-phone::-webkit-scrollbar,
#text-block::-webkit-scrollbar,
#text-block-phone::-webkit-scrollbar {
    width: 0; /* Set width to 0 to hide the scrollbar */
    background-color: transparent; /* Set background-color to transparent */
}

/*Start screen */

#loading-screen {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0px;
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
    opacity: 1;
}

#loading-screen-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 450px;
  min-width: 300px;
  height: 600px;
}

#loading-screen-header {
  color: #4c4c4c;;
  font-size: 32pt;
  font-family: 'GillSansSemiBold';
}

#loading-screen-header span {
  color: #C20016;;
}

#loading-screen-paragraph {
  font-family: 'OpenSans';
  font-size: 16px;
  color: #4c4c4c;
  max-width: auto;
  display: block;
  line-height: 2em;
}

#loading-screen-paragraph span{
  font-family: 'OpenSansBold';
}

#start-button {
  cursor: pointer;
  display: none;
  width: 200px;
  height: 55px;
  margin-top: 30px;
  background-color: #C20016;
  border-radius: 12px;
  position: absolute;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px #C20016(0, 0, 0, 0.2);
}

#start-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: GillSansSemiBold;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  color: white;
}

#start-button:hover {
  background-color: #7d000f;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  margin-top: 22px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #1a1a1a;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


/* MEGAMENU */

.back_arrow {
  position: absolute;
  right: 0;
  top: 15px;
  height: 15px;
  cursor: pointer;
}

#back_arrow_room_popup {
  display: none;
}

#back_arrow_attic_room_popup {
  display: none;
}

#back_arrow_bathroom_popup {
  display: none;
}

#back_arrow_toilet_popup {
  display: none;
}

#back_arrow_bedroom_popup {
  display: none;
}

#back_arrow_entrance_popup {
  display: none;
}

#back_arrow_living_room_popup {
  display: none;
}

#back_arrow_kitchen_popup {
  display: none;
}

#back_arrow_boiler_room_popup {
  display: none;
}

#back_arrow_laundry_room_popup {
  display: none;
}

#back_arrow_garden_popup {
  display: none;
}

#updated-object-text {
  display: none;
}

#zoomed-out-text {
  display: block;
}

#attic-room-text{
  display: none;
}

#bathroom-text{
  display: none;
}

#toilet-text{
  display: none;
}

#bedroom-text{
  display: none;
}

#entrance-text{
  display: none;
}

#living-room-text{
  display: none;
}

#kitchen-text{
  display: none;
}

#boiler-room-text{
  display: none;
}

#laundry-room-text{
  display: none;
}

#garden-text{
  display: none;
}



.space {
  display: inline-block;
  width: 16px; /* Adjust width as needed */
}


.flex-container {
  display: flex;
  flex-direction: row; /* or column, depending on your layout */
  height: 100dvh;
  max-height: 800px;
  width: 100vw;
  max-width: 1920px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 50dvh;
}

#iframe-container {
  flex: 2;
  background-color: #f0f0f0;
  position: relative;
  height: 100%;
}

#text-container {
    flex: 1;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    display: block;
    overflow: auto; /* Enable scrolling */
    display: block;
    min-width: 500px;
}

#text-block {
    height: 100%; /* Add this to define a fixed height */
    overflow-y: auto; /* Add this to enable vertical scrolling within #text-block */
    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.2s ease-out, transform 2s ease;
    animation-duration: 4s;
    position: absolute;
    width: calc(100% - 80px);
    left: 40px;
}

#popup_object {
    font-family: 'OpenSansBold';
    max-width: 100%;
    letter-spacing: 1px;
    color: #4c4c4c;
    font-weight: 700;
    font-size: 21px;
    padding-top: 5px;
  }

#popup_object span {
  color: #fc3f3f;
}

#dividing_line{
  height: 1px;
  background-color: #e5e5e5;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
}

#dividing_line_2{
  height: 1px;
  background-color: #e5e5e5;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#dividing_line_header{
  height: 1px;
  background-color: #e5e5e5;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

#popup_locataire{
  font-family: 'OpenSansBold';
  max-width: 100%;
  color: #4c4c4c;
  font-size: 16px;
  padding-bottom: 0px;
}

.popup_naviguation_chambre{
  font-family: 'OpenSansBold';
  max-width: 100%;
  color: #4c4c4c;
  font-size: 16px;
  cursor: pointer;
  line-height: 2em;
}

.popup_naviguation_chambre span{
  color: #fc3f3f;
}

#popup_paragraph{
  font-family: 'OpenSans';
  width: 100%;
  font-size: 16px;
  padding-left: 15px ;
}

ul li{
  list-style-type: none; /* Remove default bullets */
  max-width: calc(100% - 20px);
  margin-bottom: 20px;
}

ul li::before {
  content: '-'; /* Dash character */
  position: absolute; /* Position absolutely within the list item */
  left: 0; /* Align the dash to the left */
  color: #4c4c4c; /* Dash color */
  font-size: 16px; /* Size of the dash */
  font-family: GillSansBold;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}


@media only screen and (max-width: 991px) {
  .flex-container {
    display: flex;
    flex-direction: column; /* or column, depending on your layout */
    height: 100dvh;
  }

  #iframe-container {
    flex: 1;
    background-color: #f0f0f0;
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 100vw;
  }

  #text-container {
      flex: 1;
      height: 100%;
      margin: 0px 0px 0px 0px;
      min-width: none;
  }

  #text-block {
      height: 100%;
      width: 100%;
      padding-bottom: 10px;
      left: 0px;
      min-width: none;
      left: 10px;
      width: calc(100vw - 20px);
  }

  #popup_room {
    display: none;
  }

  #popup_object {
    font-family: OpenSansBold;
    font-size: 18px;
    padding-top: 0px;
  }

  #popup_locataire{
    font-family: 'OpenSansBold';
    max-width: 100%;
    color: #4c4c4c;
    font-size: 14px;
    padding-bottom: 0px;
    padding-top: 0px;
    max-width: 600px;
  }

  #popup_paragraph{
    font-family: 'OpenSans';
    width: 100%;
    font-size: 14px;
    padding-left: 15px ;
  }

  ul li{
    list-style-type: none; /* Remove default bullets */
    max-width: calc(100% - 20px);
    line-height: 14pt;
    margin-bottom: 20px;
  }

  ul li::before {
    content: '-'; /* Dash character */
    position: absolute; /* Position absolutely within the list item */
    left: 0; /* Align the dash to the left */
    color: #4c4c4c; /* Dash color */
    font-size: 14px; /* Size of the dash */
    font-family: OpenSans;
  }

  .popup_naviguation_chambre{
    font-family: 'OpenSansBold';
    width: 100%;
    font-size: 14px;
  }

  .popup_naviguation_chambre_color_overwrite{
    display: none;
  }

  #dividing_line_2{
    height: 1px;
    background-color: #e5e5e5;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .hidden-on-phone{
    display: none;
  }
}
