@font-face {
   font-family: GillSansBold;
   src: url(fonts/GillSans-Bold.ttf);
}

@font-face {
   font-family: GillSansSemiBold;
   src: url(fonts/GillSans-SemiBold.ttf);
}

@font-face {
   font-family: OpenSans;
   src: url(fonts/OpenSans-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    overflow: hidden;
    position: relative; /* Ensure relative positioning for absolute child elements */
}

/* Disable scrollbar styling */
#text-container::-webkit-scrollbar,
#text-container-phone::-webkit-scrollbar,
#text-block::-webkit-scrollbar,
#text-block-phone::-webkit-scrollbar {
    width: 0; /* Set width to 0 to hide the scrollbar */
    background-color: transparent; /* Set background-color to transparent */
}

/* PLE HEADER */

#ple_header_background {
    height: 95px;
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    top: 35px;
    left: 0;
}

#image_ple_1 {
  height: 13px;
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#image_ple {
  height: 95px;
  position: absolute;
  top: 83px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ple_header_background_2 {
    height: 35px;
    background-color: #c6d2ed;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#pixel_dash{
    height: 1px;
    background-color: #e5e5e5;
    width: 100%;
    position: absolute;
    top: 131px;
    left: 0;
}


/*Start screen */

#loading-screen {
    background-color: #C6D2ED;
    width: 100vw;
    height: calc(100vh - 132px);
    display: block;
    position: fixed;
    top: 132px;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
    opacity: 1;
}

#loading-screen-header {
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 275px));
  position: absolute;
  color: white;
  font-size: 32pt;
  font-family: 'GillSansBold';
}

#loading-screen-paragraph {
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 80px));
  position: absolute;
  font-family: 'GillSansSemiBold';
  font-size: 20px;
  color: white;
  max-width: auto;
  display: block;
}

#start-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 225px));
  position: absolute;
  cursor: pointer;
  display: none;
}

#start-button:hover {
  opacity: 0;
  transition: opacity .2s;
}

#start-button-hovered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 225px));
  position: absolute;
  display: none;
}

#click-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 100px));
  position: absolute;
  height: 80px;
  display: block;
  animation: flicker 4s infinite;
}

@keyframes flicker {
  0%, 5%, 10%, 100% {
    opacity: 1;
  }
  91%{
    opacity: 1;
  }
  92%{
    opacity: 0.4;
  }
  94%{
    opacity: 1;
  }
  96% {
    opacity: 0.4;
  }
  98% {
    opacity: 1;
  }
}

#hover-icon {
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 50px), calc(-50% + 100px));
  position: absolute;
  height: 80px;
  width: auto;
  display: none;
}

#loading-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 225px));
  position: absolute;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


/* PLE HEADER */

.flex-container {
    display: flex;
    flex-direction: row; /* or column, depending on your layout */
    height: calc(100vh - 131px);
    transform: translateY(132px);
}

#iframe-container {
    flex: 1;
    background-color: #f0f0f0;
    position: relative;
    height: 100%;
}

#text-container {
    flex: 1;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    height: 100%;
    min-width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    overflow: auto; /* Enable scrolling */
}

#text-container-phone {
    display: none;
}

#text-block {
    min-width: 500px;
    max-width: 500px;
    height: 100%; /* Add this to define a fixed height */
    overflow-y: auto; /* Add this to enable vertical scrolling within #text-block */
    transform: translateX(0);
    transition: transform 0.5s ease;
    animation-duration: 4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 200px;
}

#popup_room {
    font-family: 'GillSansSemiBold';
    top: 50%;
    max-width: 100%;
    color: #282828;
    font-size: 21px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    font-kerning: auto;
    max-width: 600px;
}

#popup_object {
    font-family: 'GillSansBold';
    max-width: 100%;
    color: #C20016;
    font-size: 35px;
    line-height: auto;
    padding-top: 5px;
    margin: 0;
    max-width: 600px;
}

#dividing_line{
  height: 1px;
  background-color: #e5e5e5;
  width: 100%;
  max-width: 600px;
  margin-top: 40px;
  margin-bottom: 50px;
}

#popup_locataire{
  font-family: 'GillSansSemiBold';
  max-width: 100%;
  color: #C20016;
  font-size: 18px;
  line-height: 0px;
  padding: 0;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 20px;
  max-width: 600px;
}

#popup_paragraph {
    font-family: 'OpenSans';
    word-wrap: break-word;
    max-width: 100%;
    line-height: 31px;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    max-width: 600px;
    font-size: 17px;
}

#color_overwrite {
    font-family: 'OpenSans';
    color: #C20016;
    font-size: 20px;
    line-height: 0px;
    padding: 0;
    margin: 0;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@media only screen and (min-width: 1200px) {
  #iframe-container {
      flex: 2;
  }

  #text-container {
      flex: 1;
  }
}

@media only screen and (max-width: 991px) {
    #iframe-container {
        height: 100%;
        width: 100vw;
    }

    #text-container {
        display: none;
    }

    #text-container-phone {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(300%, -50%);
        transition: transform 0.5s ease;
        animation-duration: 4s;
        display: block;
        overflow: auto; /* Enable scrolling */
    }

    #text-block-phone {
        min-width: 280px;
        max-width: 500px;
        height: 100%; /* Add this to define a fixed height */
        overflow-y: auto; /* Add this to enable vertical scrolling within #text-block-phone */
        transform: translateX(0);
        transition: transform 0.5s ease;
        animation-duration: 4s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 100px;
    }

    .popup-cross {
        display: block;
        top: 20px;
        right: 30px;
        position: absolute;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .popup-cross::before,
    .popup-cross::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: black;
    }

    .popup-cross::before {
        transform: rotate(45deg);
        left: 50%;
        top: 0;
    }

    .popup-cross::after {
        transform: rotate(-45deg);
        left: 50%;
        bottom: 0;
    }

    #click-icon {
      display: none;
    }

    #hover-icon {
      display: none;
    }

    #loading-screen-paragraph{
      display: none;
    }

    #loading-screen-header {
      transform: translate(-50%, calc(-50% - 100px));
    }

    #start-button {
      transform: translate(-50%, calc(-50% + 100px));
      height: 60px;
    }

    #start-button-hovered {
      transform: translate(-50%, calc(-50% + 100px));
      height: 60px;
    }

    #loading-icon {
      transform: translate(-50%, calc(-50% + 100px));
    }

}
