@charset "UTF-8";
@font-face {
  font-family: myFirstFont;
  src: url(AvenirNextLTPro-Heavy.otf);
}
@font-face {
	font-family: mySecondFont;
	src: url(AvenirNextLTPro-Medium.otf);
}
@font-face{
	font-family: myThirdfont;
	src: url(AvenirNextLTPro-Demi.otf);
}
@font-face {
	font-family: myThirdFont;
	src: url(AvenirNextLTPro-Italic.otf);
}
@font-face {
	font-family: myFourthFont;
	src: url(AvenirNextLTPro-MediumItalic.otf);
}
@font-face {
	font-family: myFifthFont;
	src: url(TimesNewRomanMTStd-Italic.otf);
}

/* INVISIBLE SCROLLBAR */

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
	background-color: #F8F9F9;
	width: 100%;
}
/* CSS GRID */

.container {
  padding-bottom: 3cm;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-template-areas:
		". . b b b b b b b b . ."
		". . d d s s i i k k . ."
		". . l l r r f f t t . ."
		". . . e e e e e e . . ."
		". . . g g . . . . . . ."
		". . . h h h h h h . . ."
		". . . j j j j j j . . ."
}

/* GRID ITEMS */

/* text en haut de page */

.texteacceuil{
	grid-area: b;
	background-color: #F8F9F9;
	height: 1fr;
	margin: auto;
  padding-top: 1.4cm;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1.4cm;
}

.redaccent {
	color: #fc5956;
}

.griditem1{
	font-family: "myFirstfont";
	font-size: 60pt;
	line-height: 60pt;
	height: 60pt;
	padding-bottom: 10px;
	margin: none;
}

.sous-titre {
	font-family: myFirstfont;
	font-size: 20pt;
}

.gridtext1{
	font-family: mySecondfont;
	font-size: 12pt;
	color: #4F4F4F;
}

/* Pop Ups modal*/

.bg-modal {
	width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  display: none;
}

.bg-modal.on {
  display: flex;
}

.foscupmodal {
	max-height: calc(100vh - 2.8cm);
  max-width: calc(50vw - 1.4cm);
  position: fixed;             top: 50%;
                               right: 50%;
  transform: translate(0 , -50%);
}

.croix1 {
  height: 15px;
  position: fixed;             top: calc(1.4cm + 15px);
                               right: 0%;
  transform: translate(calc(-1.4cm - 15px) , -50%);
  cursor:pointer;

}

.bg-modal1 {
	width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  display: none;
}

.bg-modal1.on {
  display: flex;
}

.chatsourismodal {
	max-height: calc(100vh - 2.8cm);
  max-width: calc(50vw - 1.4cm);
  position: fixed;             top: 50%;
                               right: 50%;
  transform: translate(0 , -50%);
}

.croix2 {
  height: 15px;
  position: fixed;             top: calc(1.4cm + 15px);
                               right: 0%;
  transform: translate(calc(-1.4cm - 15px) , -50%);
  cursor:pointer;

}

.bg-modal2 {
	width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  display: none;
}

.bg-modal2.on {
  display: flex;
}

.couchsurfingmodal {
	max-height: calc(100vh - 2.8cm);
  max-width: calc(50vw - 1.4cm);
  position: fixed;             top: 50%;
                               right: 50%;
  transform: translate(0 , -50%);
}

.croix3 {
  height: 15px;
  position: fixed;             top: calc(1.4cm + 15px);
                               right: 0%;
  transform: translate(calc(-1.4cm - 15px) , -50%);
  cursor:pointer;
}

.bg-modal3 {
	width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  display: none;
}

.bg-modal3.on {
  display: flex;
}

.breuermodal {
	max-height: calc(100vh - 2.8cm);
  max-width: calc(50vw - 1.4cm);
  position: fixed;             top: 50%;
                               right: 50%;
  transform: translate(0 , -50%);
}

.croix4 {
  height: 15px;
  position: fixed;             top: calc(1.4cm + 15px);
                               right: 0%;
  transform: translate(calc(-1.4cm - 15px) , -50%);
  cursor:pointer;
}

.bg-modal4 {
	width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  display: none;
}

.bg-modal4.on {
  display: flex;
}

.moujinguesmodal {
	max-height: calc(100vh - 2.8cm);
  max-width: calc(50vw - 1.4cm);
  position: fixed;             top: 50%;
                               right: 50%;
  transform: translate(0 , -50%);
}

.croix5 {
  height: 15px;
  position: fixed;             top: calc(1.4cm + 15px);
                               right: 0%;
  transform: translate(calc(-1.4cm - 15px) , -50%);
  cursor:pointer;
}

.bg-modal5 {
	width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  display: none;
}

.bg-modal5.on {
  display: flex;
}

.streetmodal {
	max-height: calc(100vh - 2.8cm);
  max-width: calc(50vw - 1.4cm);
  position: fixed;             top: 50%;
                               right: 50%;
  transform: translate(0 , -50%);
}

.croix6 {
  height: 15px;
  position: fixed;             top: calc(1.4cm + 15px);
                               right: 0%;
  transform: translate(calc(-1.4cm - 15px) , -50%);
  cursor:pointer;
}

.bg-modal6 {
	width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  display: none;
}

.bg-modal6.on {
  display: flex;
}

.handsmodal {
	max-height: calc(100vh - 2.8cm);
  max-width: calc(50vw - 1.4cm);
  position: fixed;             top: 50%;
                               right: 50%;
  transform: translate(0 , -50%);
}

.croix7 {
  height: 15px;
  position: fixed;             top: calc(1.4cm + 15px);
                               right: 0%;
  transform: translate(calc(-1.4cm - 15px) , -50%);
  cursor:pointer;
}

.bg-modal7 {
	width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  display: none;
}

.bg-modal7.on {
  display: flex;
}

.chambremodal {
	max-height: calc(100vh - 2.8cm);
  max-width: calc(50vw - 1.4cm);
  position: fixed;             top: 50%;
                               right: 50%;
  transform: translate(0 , -50%);
}

.croix8 {
  height: 15px;
  position: fixed;             top: calc(1.4cm + 15px);
                               right: 0%;
  transform: translate(calc(-1.4cm - 15px) , -50%);
  cursor:pointer;
}

.T1 {
	font-family: mySecondFont;
  font-size: 16pt;
  text-align: left;
  position: fixed;             top: 50%;
                               left: 50%;
  transform: translate(1.4cm , -50%);
  max-width: 7cm
}

#C1 {
	font-family: myThirdFont;
  font-size: 11pt;
}

/* images du folio */

.foscup{
	grid-area: d;
	width: 90%;
  cursor: pointer;
}

.chatsouris {
	grid-area: f;
	width: 85%;
  cursor: pointer;
  padding-top: 10%;
}

.couchsurfing {
	grid-area: i;
	width: 90%;
  cursor: pointer;
}

.breuer {
	grid-area: k;
	width: 90%;
  cursor: pointer;
}

.moujingues {
	grid-area: l;
	width: 90%;
  cursor: pointer;
  padding-top: 10%;
}

.street {
	grid-area: r;
	width: 90%;
  cursor: pointer;
  padding-top: 10%;
}

.hands {
	grid-area: s;
	width: 90%;
  cursor: pointer;
}

.chambre {
	grid-area: t;
	width: 90%;
  cursor: pointer;
  padding-top: 10%;
}



/* PAGE ITEMS */



/*ALL OF THIS IS FOR NAVIGATION*/

/* white sidebars */

.sidebarleft{
	background-color: white;        width: 1.4cm;
	                                height: 100vh;
	position: fixed;                top: 0cm;
                                    left: 0cm;
	z-index: +3;
}

.sidebarright{
	background-color: white;        width: 1.4cm;
	                                height: 100vh;
	position: fixed;                top: 0cm;
                                    right: 0cm;
	z-index: +3;
}

.sidebartop{
	background-color: white;        width: 100vw;
	                                height: 1.4cm;
	position: fixed;                top: 0cm;
                                    right: 0cm;
	z-index: +3;
}

.sidebarbottom{
	background-color: white;        width: 100vw;
	                                height: 1.4cm;
	position: fixed;                bottom: 0cm;
                                    right: 0cm;
	z-index: +3;
}



/* NAVIGATION ICONS */



.social {
	position: fixed;                top: 50%;
                                    left: calc(100% - 0.7cm);
    transform:                      translate(-50%, -50%);
	z-index: +4;
}

.logo {
	position: fixed;                top: 0.5cm;
	                                left: 1.4cm;
	z-index: +6;
}

.wave {

	position: fixed;                right: 1.4cm;
	                                top: 0.5cm;
	z-index: +4;
}

/* Menu animation, sliding bar */


.trigger{
	/* invisible box */             width: 40px;
	                                height: 30px;
	position: fixed;                top: 50%;
                                    left: 1.1cm;
	transform:                      translate(0cm,0%);
	z-index: +5;
}

.menu {
	position: fixed;                top: 0%;
                                    left: 0%;
	transition-duration:            350ms;
	transition-timing-function:     ease-in-out;
	z-index: 0;
}

.trigger:hover .menu{
	transform:                      translate(-0.35cm,0%);
}

.menuhooverdrag{
	background-color: white;        width: 2.4cm;
	                                height: 100vh;
	position: fixed;                top: calc(-50vh + 15px);
                                    left: -2.1cm;
	transition-duration:            350ms;
	transition-timing-function:     ease-in-out;
	pointer-events:                 none;
	/* pointer-events: none; si jamais je veux que la sourie arrete une fois plus dessus*/
	z-index: -2;
}

.trigger:hover .menuhooverdrag{
	transform:                      translate(1cm,0%);
}


/* this is for the click on to toggle the menu */


.menutriger {
	width: 50px;
	height: 40px;
    border:black;
    outline:none;
    display:block;

	background: transparent;
	cursor:pointer;

	transition-duration:            350ms;
	transition-timing-function:     ease-in-out;

	z-index: 0;

}


.trigger:hover .menutriger{
	transform:                      translate(-0.35cm,0%);
}



/*ALL OF THIS IS GENERATING THE SLIDING MENU AND THE NAVIGATION*/

/*this is for the sliding white background*/

.sliding_menu {
	background-color: white;        width: 90%;
	                                height: 100vh;
	position: fixed;                top: 0cm;
                                    left: -90%;
	transition-duration:            1000ms;
	transition-timing-function:     ease-in-out;
}

.sliding_menu.on{
	transform: 						translate(90%,0cm);
}

/*this is for the links*/

.listwithoutborders{
    padding: 0;
    list-style-type: none;
	/* clear list style */
}


.navitems{
	position: absolute;             top: 50%;
                                    left: 50%;

	font-size: 30px;
	line-height: 60px;

    transform: translate(-50%, -50%);
	font-family: "myFirstFont";
	color: black;
}

a, a:link, a:visited {
  color: black;
  text-decoration: none;

}

/*this is for the sliding bars under the links */

.invisibleside {
	background: white;
	height: 100%;
	width: 200%;
	position: absolute;				top: 0%;
                                    left: -200%;
	z-index: 4;
}

.trigger2{
	display: inline-block;
	background-color:#f9cf4b;
	height: 0.3cm;
	width: 100%;
	position: absolute;
	left: -101%;
	top: 55px;

	transition-duration:            1000ms;
	transition-timing-function:     ease-in-out;

	z-index: -1;
}

.trigger2active:hover .trigger2{
	transform:                      translate(101%,0%);
}


.trigger3{
	display: inline-block;
	background-color:#fc5956;
	height: 0.3cm;
	width: 100%;
	position: absolute;
	left: 0%;
	top: 115px;

	transition-duration:            1000ms;
	transition-timing-function:     ease-in-out;

	z-index: -1;
}

.trigger4{
	display: inline-block;
	background-color:#5149ec;
	height: 0.3cm;
	width: 100%;
	position: absolute;
	left: -101%;
	top: 175px;

	transition-duration:            1000ms;
	transition-timing-function:     ease-in-out;

	z-index: -1;
}

.trigger4active:hover .trigger4{
	transform:                      translate(101%,0%);
}

/* contact */

#addresse {
  font-family: myThirdFont;
  font-size: 12pt;
  color: #767676;
}
#addresse:visited {
  color: #767676;
  padding-top: 0px;
}
#calltoaction{
  font-family: myFifthFont;
  font-size: 18pt;
  padding-bottom: 0px;
}


.listwithoutborders2{
    padding: 0;
    list-style-type: none;
    position: absolute;             bottom: 1.4cm;
                                      left: 50%;
    transform: translate(-50%, -50%);
}
