@charset "UTF-8";
@font-face {
  font-family: myFirstFont;
  src: url(AvenirNextLTPro-Heavy.otf);
}
@font-face {
	font-family: mySecondFont;
	src: url(AvenirNextLTPro-Medium.otf);
}
@font-face{
	font-family: myThirdfont;
	src: url(AvenirNextLTPro-Demi.otf);
}
@font-face {
	font-family: myThirdFont;
	src: url(AvenirNextLTPro-Italic.otf);
}
@font-face {
	font-family: myFourthFont;
	src: url(AvenirNextLTPro-MediumItalic.otf);
}
@font-face {
	font-family: myFifthFont;
	src: url(TimesNewRomanMTStd-Italic.otf);
}

/* INVISIBLE SCROLLBAR */

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
	background-color: #F8F9F9;
	width: 100%;
}
/* CSS GRID */

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-template-areas:
		". . b b b b b b b b . ."
		". . . c c c c c c . . ."
		". . . d d d d d d . . ."
		". . . e e e e e e . . ."
		". . . f f f f f f . . ."
		". . . h h h h h h . . ."
		". . . i i i i i i . . ."
		". . . j j j j j j . . ."
		". . . k k k k k k . . ."
    ". . . l l l l l l . . ."
    ". . . m m m m m m . . ."
}

/* GRID ITEMS */

/* text en haut de page */

.texteacceuil{
	grid-area: b;
	background-color: #F8F9F9;
	height: 100vh;
	margin: auto;
	padding-top: 1.4cm;
}

.redaccent {
	color: #5149ec;
}

.griditem1{
	font-family: "myFirstfont";
	font-size: 60pt;
	line-height: 60pt;
	height: 60pt;
	padding-bottom: 10px;
	margin: none;
}

.sous-titre {
	font-family: myFirstfont;
	font-size: 20pt;
}

.gridtext1{
	font-family: mySecondfont;
	font-size: 12pt;
	color: #4F4F4F;
}

/* images du folio */

.titrefoscup {
	font-family: myThirdfont;
	font-size: 12pt;
	color: #4F4F4F;
	grid-area: c;
	text-align: center;
}

.foscup{
	padding-top: 1cm;
	grid-area: d;
	width: 100%;
}

.titrechatsouris {
	font-family: myThirdfont;
	font-size: 12pt;
	color: #4F4F4F;
	grid-area: e;
	text-align: center;
	padding-top: 2cm;
}

.chatsouris {
	padding-top: 1cm;
	grid-area: f;
	width: 100%;
}

.poeme {
	font-family: mySecondfont;
	font-size: 8pt;
	color: #888787;
	grid-area: g;
	text-align: center;
	margin-left: auto;
	margin-bottom: auto;
	margin-top: auto;
	margin-right: 1cm;
}

.titrecouchsurfing {
	font-family: myThirdfont;
	font-size: 12pt;
	color: #4F4F4F;
	grid-area: h;
	text-align: center;
	padding-top: 2cm;
}

.couchsurfing {
	padding-top: 0.5cm;
	grid-area: i;
	width: 100%;
	padding-bottom: 2cm;
}

.titrebreuer {
	font-family: myThirdfont;
	font-size: 12pt;
	color: #4F4F4F;
	grid-area: j;
	text-align: center;
	padding-top: 2cm;
}

.breuer {
	padding-top: 0.5cm;
	grid-area: k;
	width: 100%;
	padding-bottom: 2cm;
}

.plan1 {
	font-family: myThirdfont;
	font-size: 12pt;
	color: #4F4F4F;
	grid-area: l;
	text-align: center;
	padding-top: 2cm;
}

.plan2 {
	padding-top: 0.5cm;
	grid-area: m;
	width: 100%;
	padding-bottom: 2cm;
}



/* PAGE ITEMS */



/*ALL OF THIS IS FOR NAVIGATION*/

/* white sidebars */

.sidebarleft{
	background-color: white;        width: 1.4cm;
	                                height: 100vh;
	position: fixed;                top: 0cm;
                                    left: 0cm;
	z-index: +3;
}

.sidebarright{
	background-color: white;        width: 1.4cm;
	                                height: 100vh;
	position: fixed;                top: 0cm;
                                    right: 0cm;
	z-index: +3;
}

.sidebartop{
	background-color: white;        width: 100vw;
	                                height: 1.4cm;
	position: fixed;                top: 0cm;
                                    right: 0cm;
	z-index: +3;
}

.sidebarbottom{
	background-color: white;        width: 100vw;
	                                height: 1.4cm;
	position: fixed;                bottom: 0cm;
                                    right: 0cm;
	z-index: +3;
}



/* NAVIGATION ICONS */



.social {
	position: fixed;                top: 50%;
                                    left: calc(100% - 0.7cm);
    transform:                      translate(-50%, -50%);
	z-index: +4;
}

.logo {
	position: fixed;                top: 0.5cm;
	                                left: 1.4cm;
	z-index: +6;
}

.wave {

	position: fixed;                right: 1.4cm;
	                                top: 0.5cm;
	z-index: +4;
}

/* Menu animation, sliding bar */


.trigger{
	/* invisible box */             width: 40px;
	                                height: 30px;
	position: fixed;                top: 50%;
                                    left: 1.1cm;
	transform:                      translate(0cm,0%);
	z-index: +5;
}

.menu {
	position: fixed;                top: 0%;
                                    left: 0%;
	transition-duration:            350ms;
	transition-timing-function:     ease-in-out;
	z-index: 0;
}

.trigger:hover .menu{
	transform:                      translate(-0.35cm,0%);
}

.menuhooverdrag{
	background-color: white;        width: 2.4cm;
	                                height: 100vh;
	position: fixed;                top: calc(-50vh + 15px);
                                    left: -2.1cm;
	transition-duration:            350ms;
	transition-timing-function:     ease-in-out;
	pointer-events:                 none;
	/* pointer-events: none; si jamais je veux que la sourie arrete une fois plus dessus*/
	z-index: -2;
}

.trigger:hover .menuhooverdrag{
	transform:                      translate(1cm,0%);
}


/* this is for the click on to toggle the menu */


.menutriger {
	width: 50px;
	height: 40px;
    border:black;
    outline:none;
    display:block;

	background: transparent;
	cursor:pointer;

	transition-duration:            350ms;
	transition-timing-function:     ease-in-out;

	z-index: 0;

}


.trigger:hover .menutriger{
	transform:                      translate(-0.35cm,0%);
}



/*ALL OF THIS IS GENERATING THE SLIDING MENU AND THE NAVIGATION*/

/*this is for the sliding white background*/

.sliding_menu {
	background-color: white;        width: 90%;
	                                height: 100vh;
	position: fixed;                top: 0cm;
                                    left: -90%;
	transition-duration:            1000ms;
	transition-timing-function:     ease-in-out;
}

.sliding_menu.on{
	transform: 						translate(90%,0cm);
}

/*this is for the links*/

.listwithoutborders{
    padding: 0;
    list-style-type: none;
	/* clear list style */
}


.navitems{
	position: absolute;             top: 50%;
                                    left: 50%;

	font-size: 30px;
	line-height: 60px;

    transform: translate(-50%, -50%);
	font-family: "myFirstFont";
	color: black;
}

a, a:link, a:visited {
  color: black;
  text-decoration: none;

}

/*this is for the sliding bars under the links */

.invisibleside {
	background: white;
	height: 100%;
	width: 200%;
	position: absolute;				top: 0%;
                                    left: -200%;
	z-index: 4;
}

.trigger2{
	display: inline-block;
	background-color:#f9cf4b;
	height: 0.3cm;
	width: 100%;
	position: absolute;
	left: -101%;
	top: 55px;

	transition-duration:            1000ms;
	transition-timing-function:     ease-in-out;

	z-index: -1;
}

.trigger2active:hover .trigger2{
	transform:                      translate(101%,0%);
}


.trigger3{
	display: inline-block;
	background-color:#f95b5a;
	height: 0.3cm;
	width: 100%;
	position: absolute;
	left: -101%;
	top: 115px;

	transition-duration:            1000ms;
	transition-timing-function:     ease-in-out;

	z-index: -1;
}

.trigger3active:hover .trigger3{
	transform:                      translate(101%,0%);
}

.trigger4{
	display: inline-block;
	background-color:#5149ec;
	height: 0.3cm;
	width: 100%;
	position: absolute;
	left: -101%;
	top: 175px;
  transform:                      translate(101%,0%);

	transition-duration:            1000ms;
	transition-timing-function:     ease-in-out;

	z-index: -1;
}



/* contact */

#addresse {
  font-family: myThirdFont;
  font-size: 12pt;
  color: #767676;
}
#addresse:visited {
  color: #767676;
  padding-top: 0px;
}
#calltoaction{
  font-family: myFifthFont;
  font-size: 18pt;
  padding-bottom: 0px;
}


.listwithoutborders2{
    padding: 0;
    list-style-type: none;
    position: absolute;             bottom: 1.4cm;
                                      left: 50%;
    transform: translate(-50%, -50%);
}
